# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/openipf-2024-12-28-acdecc3a.csv/
/openipf-2024-12-14-deb82140.csv/